body {
    font-family: 'Roboto', sans-serif;
}

.border {
    border-bottom: 1px solid #e8eaed;
}

.mypic {
    background-size: cover;
    background-position: 34.9219% 31.9749%;
    background-repeat: no-repeat;
    padding-bottom: 74.7656%;
    width: 960.016px;
}

.body-content {
    padding: 40px;
}

h1.name {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0;
    color: #555;
}

.tagline {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #666;
}

.desc {
    font-size: 15px;
    color: rgba(0, 0, 0, .87);
    line-height: 25px;
    font-weight: 300;
}

.meter {
    margin-top: 20px;
    font-size: 15px;
    color: rgba(0, 0, 0, .87);
    line-height: 20px;
    font-weight: 300;
}

a {
    color: #007acc;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #007acc;
    text-decoration: none;
    transition: color 0.2s;
}

.project-entry {
    border: 1px solid #e6ecf1;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  }
  
  .project-entry p {
    margin-bottom: 0;
    font-size: 14px;
    color: #666;
  }

  .project-entry h6 {
   color: #333;
   font-weight: normal;
  }
.meta-header {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: #999;
    margin-bottom: 0px;
}

.my-btn {
    margin: 30px 0;
}

ul.myicons {
    list-style-type: none;
    margin-top: 10px;
    padding-left: 0;
}

ul.myicons li {
    display: inline;
    margin: 0 18px 0 0;
}

ul.myicons li a {
    color: rgb(189, 189, 189);
    text-decoration: none;
    font-size: 20px;
}

ul.myicons li a:hover {
    color: #20817c;
}

.latest {
    background-color: aliceblue;
}