#map    { position: relative; min-height: 500px; }

.state path { stroke: #a9a9a9; stroke-width: 1px; }

.state:hover path { fill-opacity: .7; cursor: pointer;}

.label {
        fill: #3a003a;
        font-size: 12px;
        font-weight: 300;
        text-anchor: middle;
        pointer-events: none; 
}

.label.IND-2427 { font-size: 0; }
.label.IND-2445 { font-size: 0; }
.label.IND-3262 { font-size: 0; }
.label.IND-3504 { font-size: 0; }