body {
    text-align: center;
}

button {
    width: 100px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid #fff;
    border-radius: 10px;
    border-left: none;
    cursor: pointer;
  }

  #details {
    margin-top: 20px;
  }

  .mvd-table {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    margin:0 auto;
  }